<% if !current_github_user %>
  <a class="github login" href='/auth/github'> <i class="fa fa-github" aria-hidden="true"></i> Link GitHub </a>
<% end %>
<% if !current_spotify_user %>
  <a class="spotify login" href='/auth/spotify'> <i class="fa fa-spotify" aria-hidden="true"></i> Link Spotify </a>
<% end %>
